input[type='file'] {
  display: none;
}

.upload-button {
  color: white;
  display: inline-block;
  background-color: #51519e;
  border: none;
  text-align: center;
  width: 100%;
  padding: 7px 15px;
  margin: 0 auto;
  font-weight: 700;
  border-radius: 3px;
  /* white-space: nowrap; */
  cursor: pointer;
  font-size: 10pt;
  transition: all 0.2s;
}

.img {
  min-width: 15rem;
  min-height: 15rem;
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 50%;
}

.upload-button:hover {
  background-color: #373773;
}
